.btn{
    float: right;
    margin-right: 15px;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: red;
    color: seashell;
    border: none;
}
.checkbox{
    vertical-align: bottom;
}
